.scrollTop {
  width: 10%;
  right: 20px;
  height: 20px;
 
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
