@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-gray-200;
  }
  .dropdown {
    @apply w-full lg:max-w-[296px] cursor-pointer;
  }
  .dropdown-btn {
    @apply flex h-[64px] items-center px-[18px] border rounded-lg;
  }
  .dropdown-icon-primary {
    @apply text-2xl mr-[18px] text-violet-700;
  }
  .dropdown-icon-secondary {
    @apply text-2xl text-violet-700 ml-auto;
  }
  .dropdown-menu {
    @apply px-6 py-8 text-[15px] space-y-6 shadow-md bg-white absolute w-full z-10 list-none rounded-b-lg;
  }
  .embla__slide {
    @apply flex-[0_0_100%];
  }
  .off-bg {
    @apply bg-[#c9002e];
  }
  .btn-bg {
    @apply bg-[#2c93eb];
  }
}

@layer components {
.border-red {
    @apply border-solid border-2 border-red-800;
  }

  /* PRODUC PAGE HAT/SHOES/CLOTHING STYLES */
  .parent-container {
    @apply relative w-[100%] h-[100vh];
  }
  .product-container {
    @apply mt-[100px] flex flex-col items-center;
  }
  .mapParent-container {
    @apply flex flex-wrap w-[100%] md:flex md:flex-wrap md:w-[100%] lg:flex lg:flex-wrap lg:mt-10 justify-center gap-x-2  lg:w-[100%] xl:w-[1234px];
  }
  .mapProduct-container {
    @apply mt-1 mb-1 w-[170px] h-[250px] md:w-[285px] lg:w-[285px] shadow-xl rounded-md md:h-[370px] relative;
  }
  
  .name-container {
    @apply text-[.9rem] md:text-[1.2rem] absolute w-[100%] text-center;
  }
  .img-style {
    @apply w-[100%] h-[200px] md:w-[350px] md:h-[320px] lg:w-[350px] lg:h-[320px] rounded-t-md;
  }

  .price-container {
    @apply flex text-[.9rem] md:text-[1.2rem] w-[100%] justify-between mt-2;
  }
  .gender-container {
    @apply text-left w-[100%] absolute bottom-2;
  }

  .p-style {
    @apply font-light text-[.8rem] ml-2;
  }


  /* FEATURED/OFFPRODUCTS HERO STYLES */
  .heroParent-container {
    @apply relative w-[100%] mb-10;
  }
  .secondHeroParent-container {
    @apply flex flex-col items-center;
  }
  .mapHeroParent-container {
    @apply h-[80vh] w-[100%] md:w-[768px] lg:w-[1024px] flex justify-center items-center md:justify-end 
        relative;
  }
  .secondMapHeroParent-container {
    @apply relative flex justify-center md:flex md:justify-center md:items-center h-[65vh] w-[350px] md:w-[768px] lg:w-[1024px];
  }
  .textHero-container {
    @apply  text-red-800 absolute rounded-sm top-[-100px] md:top-0 md:flex flex-col justify-center md:left-5 md:h-[65vh] md:w-[350px] lg:w-[500px] md:off-bg md:text-white;
  }
  .secondTextHero-container {
    @apply py-10 flex flex-col justify-center items-center;
  }
  .video-style {
    @apply flex rounded-sm mt-10 md:mt-0 md:absolute md:right-5;
  }

  

  /* FILTEREDMAIN STYLES */
  .filtermain-container {
    @apply absolute top-0 w-[100%] 
  }

    .filtermainBtn-container {
    @apply w-[100%] top-0 absolute
  }

     .filterBtn-container {
    @apply hidden md:flex absolute z-10 left-3 btn-bg px-5 py-2 rounded-sm text-white
  }

  .pFilteredBtn {
    @apply absolute z-[11] left-2 md:hidden
  }

  .filterFunctionProduct-container {
    @apply flex flex-col mt-10 justify-center
  }

  .filterFunction-container {
    @apply w-[100%] absolute top-[65px] mb-5 md:w-[768px] justify-start gap-x-5 lg:w-[1024px]
  }
}

/* 
@layer components {
  .border1 {
    @apply border-solid border-2 border-sky-800;
  }
  .border2 {
    @apply border-solid border-2 border-red-800;
  }
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



